@using TranyrLogistics.Views.Helpers;

@model TranyrLogistics.Models.ShipmentDocument

@{
    ViewBag.Title = "Document Details";
}

<h3>@ViewBag.Title</h3>
<br />

<fieldset>
    <legend>ShipmentDocumentation</legend>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.Label)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.Label)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.CreateDate)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.CreateDate)
        </div>
    </div>

</fieldset>
<p>
    @Html.SecureActionLink("Edit", "Edit", "ShipmentDocument", new { id=Model.ID }) |
    @Html.SecureActionLink("Back to List", "Index", "ShipmentDocument", new { customer_number=Model.CustomerNumber, shipment_id=Model.ShipmentID })
</p>
