@using TranyrLogistics.Views.Helpers;

@model IEnumerable<TranyrLogistics.Models.ShipmentDocument>

@{
    var customer = ViewBag.Customer;
    var shipment = ViewBag.Shipment;
    ViewBag.Title = customer.DisplayName + "'s documents";
    
    var pageTitle = customer.DisplayName + "'s documents for shipment: " + shipment.ReferenceNumber;
    
}

<h4>@pageTitle</h4>
<br />

<p>
    @Html.ActionLink("Create New", "Create", new { customer_number=customer.CustomerNumber, shipment_id=shipment.ShipmentID })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Label, "DownloadFile", new { id=item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.ActionImageLink(@Url.Content("~/Images/application_edit.png"), "Edit", "Edit", "ShipmentDocument", new { id=item.ID }, new Dictionary<string, string> { { "title", "Edit" } }, null) |
            @Html.ActionImageLink(@Url.Content("~/Images/application_view_detail.png"), "Details", "Details", "ShipmentDocument", new { id=item.ID }, new Dictionary<string, string> { { "title", "Details" } }, null) |
            @Html.ActionImageLink(@Url.Content("~/Images/application_delete.png"), "Delete", "Delete", "ShipmentDocument", new { id=item.ID }, new Dictionary<string, string> { { "title", "Delete" } }, null)
        </td>
    </tr>
}

</table>
<br />
<br />

<div>
    @Html.ActionLink("Back to Shipments", "Index", "Shipment")
</div>
