@model TranyrLogistics.Models.ServiceProvider

@{
    ViewBag.Title = "Service Provider Details";
}

<h3>@ViewBag.Title</h3>
<br />

<fieldset>
    <legend>ServiceProvider</legend>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.VatNumber)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.VatNumber)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.EmailAddress)
        </div>
    </div>

    <div class="table-row">        
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.ContactNumber)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.ContactNumber)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.PostalAddress)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.PostalAddress)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.Address)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.Address)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.StateOrProvince)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.StateOrProvince)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.PostalCode)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.PostalCode)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.Country)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.Country.Name)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.ServiceProviderGroup)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.ServiceProviderGroup.Name)
            @Html.HiddenFor(model => model.ServiceProviderGroup)
        </div>
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
