@using TranyrLogistics.Views.Helpers;

@model TranyrLogistics.Models.ServiceProvider

@{
    ViewBag.Title = "Edit Service Provider";
}

<h3>@ViewBag.Title</h3>
<br />

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ServiceProvider</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VatNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VatNumber)
            @Html.ValidationMessageFor(model => model.VatNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailAddress)
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactNumber)
            @Html.ValidationMessageFor(model => model.ContactNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mobile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mobile)
            @Html.ValidationMessageFor(model => model.Mobile)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmergencyNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmergencyNumber)
            @Html.ValidationMessageFor(model => model.EmergencyNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhysicalAddress)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.PhysicalAddress)
            @Html.ValidationMessageFor(model => model.PhysicalAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostalAddress)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.PostalAddress)
            @Html.ValidationMessageFor(model => model.PostalAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostalCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostalCode)
            @Html.ValidationMessageFor(model => model.PostalCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StateOrProvince)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StateOrProvince)
            @Html.ValidationMessageFor(model => model.StateOrProvince)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Country)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CountryID, ViewBag.CountryID as List<SelectListItem>)
            @Html.ValidationMessageFor(model => model.CountryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ServiceProviderGroupID, "Group")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ServiceProviderGroupID, ViewBag.ServiceProviderGroupID as List<SelectListItem>)
            @Html.ValidationMessageFor(model => model.ServiceProviderGroupID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.SecureActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
