@using TranyrLogistics.Views.Helpers;

@model IEnumerable<TranyrLogistics.Models.ServiceProvider>

@{
    ViewBag.Title = "Service Providers";
}

<h3>@ViewBag.Title</h3>
<br />

<p>
    @Html.SecureActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceProviderGroup)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceProviderGroup.Name)
        </td>
        <td>
            @Html.SecureActionImageLink(@Url.Content("~/Images/application_edit.png"), "Edit", "Edit", "ServiceProvider", new { id=item.ID }, new Dictionary<string, string> { { "title", "Edit" } }, null)
            @Html.SecureActionImageLink(@Url.Content("~/Images/application_view_detail.png"), "Details", "Details", "ServiceProvider", new { id=item.ID }, new Dictionary<string, string> { { "title", "Details" } }, null)
            @Html.SecureActionImageLink(@Url.Content("~/Images/application_delete.png"), "Delete", "Delete", "ServiceProvider", new { id=item.ID }, new Dictionary<string, string> { { "title", "Delete" } }, null)
        </td>
    </tr>
}

</table>
