@using TranyrLogistics.Views.Helpers;

@model TranyrLogistics.Models.Group

@{
    ViewBag.Title = "New Group";
}

<h3>@ViewBag.Title</h3>
<br />

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Group</legend>

        @Html.Partial("Partials/NewGroup")

        <div>
            @Html.SecureActionLink("Back to List", "Index")
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#customer-group-create-banner").addClass("selected-banner");
    });
</script>
