@using TranyrLogistics.Views.Helpers;

@model TranyrLogistics.Models.Group

@{
    ViewBag.Title = "Group Details";
}

<h3>@ViewBag.Title</h3>
<br />

<fieldset>
    <legend>Group</legend>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.Raw("Type")
        </div>
        <div class="display-field table-cell">
            @{
                if (Model is TranyrLogistics.Models.Groups.CustomerGroup)
                {
                    @Html.Raw("Customers")
                }
                else
                {
                    @Html.Raw("Service providers")
                }
            }
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
</fieldset>
<p>
    @Html.SecureActionLink("Edit", "Edit", "Enquiry", new { id=Model.ID }) |
    @Html.SecureActionLink("Back to List", "Index")
</p>
