@model TranyrLogistics.Models.Enquiry

@{
    ViewBag.Title = "New Enquiry";
}

<h3>@ViewBag.Title</h3>
<br />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Customer</legend>

        @Html.Partial("Partials/NewEnquiry")

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $('#PlannedShipmentTime').datetimepicker({ dateFormat: "dd MM yy", });
    $(document).ready(function () {
        $("#potential-customer-enquiry-banner").addClass("selected-banner");
    });
</script>
