@model TranyrLogistics.Models.Enquiry

@{
    ViewBag.Title = "Enquiry Details";
}

<h3>@ViewBag.Title</h3>
<br />

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Customer</legend>
        
        @{
            if (Model is TranyrLogistics.Models.Enquiries.PotentialCustomerEnquiry)
            {
                @Html.Partial("Partials/PotentialCustomerEnquiryDetails");
            }
        }
        
        @{
            if (Model is TranyrLogistics.Models.Enquiries.ExistingCustomerEnquiry)
            {
                @Html.Partial("Partials/ExistingCustomerEnquiryDetails");
            }
        }

        <p>
            @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
