@using TranyrLogistics.Views.Helpers

@model TranyrLogistics.Models.Enquiry

@{
    ViewBag.Title = "Edit Enquiry";
}

<h3>@ViewBag.Title</h3>
<br />

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Customer</legend>

        @{
            if (Model is TranyrLogistics.Models.Enquiries.PotentialCustomerEnquiry)
            {
                @Html.Partial("Partials/EditPotentialCustomerEnquiry");
            }
        }
        
        @{
            if (Model is TranyrLogistics.Models.Enquiries.ExistingCustomerEnquiry)
            {
                @Html.Partial("Partials/EditExistingCustomerEnquiry");
            }
        }

        <div>
            @Html.SecureActionLink("Back to List", "Index")
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
