@using TranyrLogistics.Views.Helpers

@model TranyrLogistics.Models.Enquiry

@{
    ViewBag.Title = "Generate Quote";
}

<h3>@ViewBag.Title</h3>
<br />

<fieldset>
    <legend>Enquiry</legend>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.Raw("Customer")
        </div>
        <div class="display-field table-cell">
            @Html.Raw(Model.DisplayName)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.Raw("Email Address")
        </div>
        <div class="display-field table-cell">
            @if (Model is TranyrLogistics.Models.Enquiries.PotentialCustomerEnquiry)
            {
                @Html.Raw(((TranyrLogistics.Models.Enquiries.PotentialCustomerEnquiry)Model).EmailAddress)
            }
            else if (Model is TranyrLogistics.Models.Enquiries.ExistingCustomerEnquiry)
            {
                @Html.Raw(((TranyrLogistics.Models.Enquiries.ExistingCustomerEnquiry)Model).Customer.EmailAddress)
            }
            
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.Raw("Origin")
        </div>
        <div class="display-field table-cell">
            @Html.Raw(Model.OriginCity + ", " + Model.OriginCountry.Name)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.Raw("Destination")
        </div>
        <div class="display-field table-cell">
            @Html.Raw(Model.DestinationCity + ", " + Model.DestinationCountry.Name)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.Category)
        </div>
        <div class="display-field table-cell">
            @HtmlDropDownExtensions.GetEnumDisplay(Model.Category)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.NumberOfPackages)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.NumberOfPackages)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.GrossWeight)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.GrossWeight)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.VolumetricWeight)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.VolumetricWeight)
        </div>
    </div>

</fieldset>
<p>
    @Html.ActionLink("Quote Template", "GenerateQuotationTemplate", new { id = Model.ID }) |
    @if (Model.QuotationSent)
    {
        @Html.ActionLink("Resend Quote", "SendQuotation", new { id = Model.ID }, new { id = "resend_quote_link", confirm = "A quotation has already been sent for this enquiry. Do you want to send another one?" })
    }
    else
    {
        @Html.ActionLink("Send Quote", "SendQuotation", new { id = Model.ID })
    } |
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#resend_quote_link').click(function (e) {
            if (!confirm(jQuery(this).attr("confirm")))
            {
                e.preventDefault();
            }
        });
    });
</script>
<br />

@Html.Partial("~/Views/Enquiry/Partials/QuotationList.cshtml")
