@using TranyrLogistics.Views.Helpers;

@model IEnumerable<TranyrLogistics.Models.Enquiry>

@{
    ViewBag.Title = "Enquiries";
}

<h3>@ViewBag.Title</h3>
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            @Html.Raw("Email Address")
        </th>
        <th>
            From
        </th>
        <th>
            To
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VerificationSent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotationRequested)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotationSent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            @if (item is TranyrLogistics.Models.Enquiries.PotentialCustomerEnquiry)
            {
                @Html.DisplayFor(modelItem => ((TranyrLogistics.Models.Enquiries.PotentialCustomerEnquiry) item).EmailAddress)
            }
            else if (item is TranyrLogistics.Models.Enquiries.ExistingCustomerEnquiry)
            {
                @Html.DisplayFor(modelItem => ((TranyrLogistics.Models.Enquiries.ExistingCustomerEnquiry) item).Customer.EmailAddress)
            }
            
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.OriginCountry.Code)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.DestinationCountry.Code)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.VerificationSent)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.QuotationRequested)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.QuotationSent)
        </td>
        <td style="text-align:right;">
            @if (item is TranyrLogistics.Models.Enquiries.ExistingCustomerEnquiry && ((TranyrLogistics.Models.Enquiries.ExistingCustomerEnquiry)item).Customer != null)
            {
                @Html.ActionImageLink(@Url.Content("~/Images/shipment_icon.png"), "Create Shipment", "CreateShipment", "Shipment", new { id=item.ID, customer_id=((TranyrLogistics.Models.Enquiries.ExistingCustomerEnquiry)item).CustomerID}, new Dictionary<string, string> { { "title", "Create Shipment" } }, null)
                @Html.Raw("|")
            }
            else if (item is TranyrLogistics.Models.Enquiries.PotentialCustomerEnquiry)
            {
                @Html.ActionImageLink(@Url.Content("~/Images/customer_avatar.png"), "New Customer", "Create", "Customer", new { id = item.ID }, new Dictionary<string, string> { { "title", "Create Customer" } }, null)
                @Html.Raw("|")
            }
            @Html.ActionImageLink(@Url.Content("~/Images/send_quotation.png"), "Generate Quote", "GenerateQuotation", "Enquiry", new { id=item.ID }, new Dictionary<string, string> { { "title", "Generate Quote" } }, null) |
            @Html.ActionImageLink(@Url.Content("~/Images/request_quotation.png"), "Request Quote", "RequestQuotation", "Enquiry", new { id=item.ID }, new Dictionary<string, string> { { "title", "Request Quote" } }, null) |
            @Html.ActionImageLink(@Url.Content("~/Images/application_edit.png"), "Edit", "Edit", "Enquiry", new { id=item.ID }, new Dictionary<string, string> { { "title", "Edit" } }, null) |
            @Html.ActionImageLink(@Url.Content("~/Images/application_view_detail.png"), "Details", "Details", "Enquiry", new { id=item.ID }, new Dictionary<string, string> { { "title", "Details" } }, null) |
            @Html.ActionImageLink(@Url.Content("~/Images/application_delete.png"), "Delete", "Delete", "Enquiry", new { id=item.ID }, new Dictionary<string, string> { { "title", "Delete" } }, null)
        </td>
    </tr>
}

</table>
