@using TranyrLogistics.Views.Helpers;

@model IEnumerable<TranyrLogistics.Models.Enquiry>

@{
    ViewBag.Title = "Enquiries";
}

<h3>@ViewBag.Title</h3>
<br />

<p>
    @Html.SecureActionLink("New Potential Customer", "CreatePotentialCustomerEnquiry")
    @Html.SecureActionLink("New Existing Customer", "CreateExistingCustomerEnquiry")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            @Html.Raw("Email Address")
        </th>
        <th>
            Route
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VerificationSent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotationRequested)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotationSent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            @if (item is TranyrLogistics.Models.Enquiries.PotentialCustomerEnquiry)
            {
                @Html.DisplayFor(modelItem => ((TranyrLogistics.Models.Enquiries.PotentialCustomerEnquiry) item).EmailAddress)
            }
            else if (item is TranyrLogistics.Models.Enquiries.ExistingCustomerEnquiry)
            {
                @Html.DisplayFor(modelItem => ((TranyrLogistics.Models.Enquiries.ExistingCustomerEnquiry) item).Customer.EmailAddress)
            }
            
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.OriginCountry.Code) - @Html.DisplayFor(modelItem => item.DestinationCountry.Code)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.VerificationSent)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.QuotationRequested)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.QuotationSent)
        </td>
        <td style="text-align:center">
            @item.CreateDate.ToShortDateString()
        </td>
        <td style="text-align:right;">            
            @if (item is TranyrLogistics.Models.Enquiries.ExistingCustomerEnquiry && ((TranyrLogistics.Models.Enquiries.ExistingCustomerEnquiry)item).Customer != null)
            {
                @Html.SecureActionImageLink(@Url.Content("~/Images/shipment_icon.png"), "Create Shipment", "Create", "Shipment", new { enquiry_id=item.ID, customer_id=((TranyrLogistics.Models.Enquiries.ExistingCustomerEnquiry)item).CustomerID} , new Dictionary<string, string> { { "title", "Create Shipment" } }, null)
                @Html.SecureActionImageLink(@Url.Content("~/Images/transport_order.png"), "Confirm Transport Order", "CustomerConfirmation", "Enquiry", new { id=item.ID }, new Dictionary<string, string> { { "title", "Confirm transport order" } }, null)
            }
            else if (item is TranyrLogistics.Models.Enquiries.PotentialCustomerEnquiry)
            {
                @Html.SecureActionImageLink(@Url.Content("~/Images/customer_avatar.png"), "New Customer", "Create", "Customer", new { enquiry_id = item.ID }, new Dictionary<string, string> { { "title", "Create Customer" } }, null)
            }
            @Html.SecureActionImageLink(@Url.Content("~/Images/send_quotation.png"), "Generate Quote", "GenerateQuotation", "Enquiry", new { id=item.ID }, new Dictionary<string, string> { { "title", "Generate and send quotation" } }, null)
            @Html.SecureActionImageLink(@Url.Content("~/Images/request_quotation.png"), "Request Quote", "RequestQuotation", "Enquiry", new { id=item.ID }, new Dictionary<string, string> { { "title", "Request quotation from providers" } }, null)
            @Html.SecureActionImageLink(@Url.Content("~/Images/reassign_enquiry.png"), "Re-assign Enquiry", "ReassignEnquiry", "Enquiry", new { id=item.ID }, new Dictionary<string, string> { { "title", "Re-assign enquiry" } }, null)
            @Html.SecureActionImageLink(@Url.Content("~/Images/application_edit.png"), "Edit", "Edit", "Enquiry", new { id=item.ID }, new Dictionary<string, string> { { "title", "Edit" } }, null)
            @Html.SecureActionImageLink(@Url.Content("~/Images/application_view_detail.png"), "Details", "Details", "Enquiry", new { id=item.ID }, new Dictionary<string, string> { { "title", "Details" } }, null)
            @Html.SecureActionImageLink(@Url.Content("~/Images/application_delete.png"), "Delete", "Delete", "Enquiry", new { id=item.ID }, new Dictionary<string, string> { { "title", "Delete" } }, null)
        </td>
    </tr>
}

</table>
