@using TranyrLogistics.Views.Helpers;

@model IEnumerable<TranyrLogistics.Models.Enquiry>

@{
    ViewBag.Title = "Enquiries";
}

<h3>@ViewBag.Title</h3>
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            From
        </th>
        <th>
            To
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OriginCountry.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationCountry.Code)
        </td>
        <td>
            @Html.ActionImageLink(@Url.Content("~/Images/customer_avatar.png"), "Quote", "RequestQuote", "Enquiry", new { id=item.ID }, null, null) |
            @Html.ActionImageLink(@Url.Content("~/Images/application_edit.png"), "Edit", "Edit", "Enquiry", new { id=item.ID }, null, null) |
            @Html.ActionImageLink(@Url.Content("~/Images/application_view_detail.png"), "Details", "Details", "Enquiry", new { id=item.ID }, null, null) |
            @Html.ActionImageLink(@Url.Content("~/Images/application_delete.png"), "Delete", "Delete", "Enquiry", new { id=item.ID }, null, null)
        </td>
    </tr>
}

</table>
