@using TranyrLogistics.Views.Helpers

@model TranyrLogistics.Models.Shipment

@{
    ViewBag.Title = "Shipment Details";
}

<h3>@ViewBag.Title</h3>
<br />

<fieldset>
    <legend>Shipment</legend>
    
    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.ReferenceNumber)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.ReferenceNumber)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.Customer.CustomerNumber)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.Customer.CustomerNumber)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.ServiceProvider)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.ServiceProvider.Name)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.Transport)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.Transport)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.OriginCity)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.OriginCity)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.OriginCountry)
        </div>
        <div class="display-field table-cell">
            @Model.OriginCountry.Name
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.DestinationAddress)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.DestinationAddress)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.DestinationCity)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.DestinationCity)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.DestinationCountry)
        </div>
        <div class="display-field table-cell">
            @Model.DestinationCountry.Name
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.CollectionPoint)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.CollectionPoint)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.PlannedCollectionTime)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.PlannedCollectionTime)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.ActualCollectionTime)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.ActualCollectionTime)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.Recipient)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.Recipient)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.ShippingTerms)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.ShippingTerms.Standard)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.Category)
        </div>
        <div class="display-field table-cell">
            @HtmlDropDownExtensions.GetEnumDisplay(Model.Category)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.GoodsDescription)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.GoodsDescription)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.PlannedETA)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.PlannedETA)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.ActualTimeOfArrival)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.ActualTimeOfArrival)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.NumberOfPackages)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.NumberOfPackages)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.GrossWeight)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.GrossWeight)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.VolumetricWeight)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.VolumetricWeight)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.InsuranceRequired)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.InsuranceRequired)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.MasterBillNumber)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.MasterBillNumber)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.WayBillNumber)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.WayBillNumber)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.HouseBillNumber)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.HouseBillNumber)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.CustomsEntry)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.CustomsEntry)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.ShipShape)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.ShipShape)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.ClientRefNumber)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.ClientRefNumber)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
            @Html.DisplayNameFor(model => model.CreateDate)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.CreateDate)
        </div>
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ShipmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
