@using TranyrLogistics.Views.Helpers;

@using TranyrLogistics.Models;

@model IEnumerable<TranyrLogistics.Models.Shipment>

@{
    ViewBag.Title = "Shipments";

    Customer customer = null;
    if (ViewBag.Customer != null)
    {
        customer = ViewBag.Customer;
    }
}

<h3>
    @{
        if (customer != null)
        {
            var pageTitle = customer.DisplayName + "'s shipments";
            @pageTitle;
            
        }else
        {
            @ViewBag.Title;
        }   
    }
</h3>
<br />

<br />
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transport)
        </th>
        <th>
            @Html.DisplayName("Origin")
        </th>
        <th>
            @Html.DisplayName("Destination")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceProvider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlannedETA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceNumber)
        </td>
        <td>
            @Html.ActionLink(item.Customer.DisplayName, "Details", "Customer", new { id=item.Customer.ID }, null)
        </td>
        <td>
            @HtmlDropDownExtensions.GetEnumDisplay(item.Transport)
        </td>
        <td style="text-align:center">
            @item.OriginCountry.Code
        </td>
        <td style="text-align:center">
            @item.DestinationCountry.Code
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceProvider.Name)
        </td>
        <td style="text-align:center">
            @item.PlannedETA.ToShortDateString()
        </td>
        <td>
            @Html.ActionImageLink(@Url.Content("~/Images/shipment_documents.png"), "Documents", "Index", "ShipmentDocument", new { customer_number=item.Customer.CustomerNumber, shipment_id=item.ShipmentID }, null, null) |
            @Html.ActionImageLink(@Url.Content("~/Images/application_edit.png"), "Edit", "Edit", "Shipment", new { id=item.ShipmentID }, null, null) |
            @Html.ActionImageLink(@Url.Content("~/Images/application_view_detail.png"), "Details", "Details", "Shipment", new { id=item.ShipmentID }, null, null) |
            @Html.ActionImageLink(@Url.Content("~/Images/application_delete.png"), "Delete", "Delete", "Shipment", new { id=item.ShipmentID }, null, null)
        </td>
    </tr>
}

</table>
<br />

<div>
    @Html.ActionLink("Customer list", "Index", "Customer")
</div>

