@using TranyrLogistics.Views.Helpers

@model TranyrLogistics.Models.Customers.Company

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Company</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VatNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VatNumber)
            @Html.ValidationMessageFor(model => model.VatNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImportersCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImportersCode)
            @Html.ValidationMessageFor(model => model.ImportersCode)
        </div>

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.CustomerNumber)
        @Html.HiddenFor(model => model.CreateDate)

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailAddress)
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactNumber)
            @Html.ValidationMessageFor(model => model.ContactNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StateOrProvince)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StateOrProvince)
            @Html.ValidationMessageFor(model => model.StateOrProvince)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostalCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostalCode)
            @Html.ValidationMessageFor(model => model.PostalCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Country)
        </div>
        <div class="editor-field">
            @Html.DropDownList("CountryID")
            @Html.ValidationMessageFor(model => model.Country)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerGroupID, "Group")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerGroupID", String.Empty)
            @Html.ValidationMessageFor(model => model.CustomerGroupID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Priority)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.Priority)
            @Html.ValidationMessageFor(model => model.Priority)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
