@using TranyrLogistics.Views.Helpers

@model TranyrLogistics.Models.Enquiries.PotentialCustomerEnquiry

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Enquiry</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.EnquiryType)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.EnquiryType)
            @Html.ValidationMessageFor(model => model.EnquiryType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailAddress)
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactNumber)
            @Html.ValidationMessageFor(model => model.ContactNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Company)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Company)
            @Html.ValidationMessageFor(model => model.Company)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Transport)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.Transport)
            @Html.ValidationMessageFor(model => model.Transport)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlannedShipmentTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlannedShipmentTime)
            @Html.ValidationMessageFor(model => model.PlannedShipmentTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CollectionPoint)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.CollectionPoint)
            @Html.ValidationMessageFor(model => model.CollectionPoint)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OriginCity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OriginCity)
            @Html.ValidationMessageFor(model => model.OriginCity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OriginCountry)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.OriginCountryID, ViewBag.OriginCountryID as List<SelectListItem>)
            @Html.ValidationMessageFor(model => model.OriginCountryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DestinationAddress)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.DestinationAddress)
            @Html.ValidationMessageFor(model => model.DestinationAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DestinationCity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DestinationCity)
            @Html.ValidationMessageFor(model => model.DestinationCity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DestinationCountry)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.DestinationCountryID, ViewBag.DestinationCountryID as List<SelectListItem>)
            @Html.ValidationMessageFor(model => model.DestinationCountryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Category)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.Category)
            @Html.ValidationMessageFor(model => model.Category)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GoodsDescription)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.GoodsDescription)
            @Html.ValidationMessageFor(model => model.GoodsDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumberOfPackages)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberOfPackages)
            @Html.ValidationMessageFor(model => model.NumberOfPackages)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GrossWeight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GrossWeight)
            @Html.ValidationMessageFor(model => model.GrossWeight)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VolumetricWeight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VolumetricWeight)
            @Html.ValidationMessageFor(model => model.VolumetricWeight)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InsuranceRequired)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InsuranceRequired)
            @Html.ValidationMessageFor(model => model.InsuranceRequired)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<script type="text/javascript">
    $('#PlannedShipmentTime').datetimepicker({ dateFormat: "dd MM yy" });
</script>
