@using TranyrLogistics.Views.Helpers;

@model TranyrLogistics.Models.LocalPasswordModel

@{
    ViewBag.Title = "Change password";
}

<h3>@ViewBag.Title</h3>
<br />

<p class="message-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("ChangePassword", "SystemUser")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(model => model.UserName)
                @Html.Raw(Model.UserName)
            </li>
            <br />
            @Html.Hidden("UserName", Model.UserName)
            <li>
                @Html.LabelFor(model => model.NewPassword)
                @Html.PasswordFor(model => model.NewPassword)
            </li>
            <li>
                @Html.LabelFor(model => model.ConfirmPassword)
                @Html.PasswordFor(model => model.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}

<br />
<div>
    @Html.SecureActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
