@using TranyrLogistics.Views.Helpers;

@model TranyrLogistics.Models.UserRole
@{
    ViewBag.Title = "Assign Role";
    
    string[] usersRoles = ViewBag.UserRoles;
}

<h3>@ViewBag.Title</h3>
<br />

<section style="float: left; width: 30%;">
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        
        @Html.HiddenFor(model => model.UserName)

        <div class="table-row">
            <div class="display-label table-cell">
                 @Html.Label("User")
            </div>
            <div class="display-field table-cell">
                <strong>@Html.Raw(Model.UserName)</strong>
            </div>
        </div>
        <br />

        <div class="editor-label">
            @Html.Label("Roles")
        </div>
        <div class="editor-field">            
            @Html.DropDownList("RoleName", String.Empty)
        </div>
        <br />

        <input type="submit" value="Add Role" />
    </fieldset>

    <br />
    <div>
        @Html.SecureActionLink("Back to List", "Index")
    </div>
}
</section>

<section style="float:inherit; width: 55%;">
    <div id="user-roles">
        @Html.Partial("~/Views/User/Partials/UserRoles.cshtml")
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
