@using TranyrLogistics.Views.Helpers;

@model TranyrLogistics.Models.UserProfile

@{
    ViewBag.Title = "User Details";

    string[] usersRoles = Roles.GetRolesForUser(Model.UserName);
}

<h3>@ViewBag.Title</h3>
<br />

<fieldset>
    <legend>UserProfile</legend>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.UserName)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.UserName)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.FirstName)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.FirstName)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.LastName)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.LastName)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.EmailAddress)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.EmailAddress)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.IsActive)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.IsActive)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.CreateDate)
        </div>
        <div class="display-field table-cell">
            @Html.Raw(Model.CreateDate.ToShortDateString())
        </div>
    </div>

</fieldset>

<p>
    @Html.SecureActionLink("Edit", "Edit", "User", new { id=Model.UserId }) |
    @Html.SecureActionLink("Back to List", "Index")
</p>
<br />

@{    
    if (usersRoles.Count() > 0) {
        @Html.Label("User Roles")
        int index = 0;
        foreach (string roleName in usersRoles) {
        <div class="table-row">
            <div class="display-label table-cell">
                 @Html.Raw((++index).ToString())
            </div>
            <div class="display-field table-cell">
                @Html.Raw(roleName)
            </div>
        </div>
        }
    }
}

