@model TranyrLogistics.Models.Customer

@{
    ViewBag.Title = "Customer Details";
}

<h3>@ViewBag.Title</h3>
<br />

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Customer</legend>
        
        @{
            if (Model is TranyrLogistics.Models.Company)
            {
                @Html.Partial("Partials/CompanyDetails");
            }
        }
        
        @{
            if (Model is TranyrLogistics.Models.Individual)
            {
                @Html.Partial("Partials/IndividualDetails");
            }
        }

        <p>
            @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
