@model TranyrLogistics.Models.ShippingTerms

@{
    ViewBag.Title = "Shipping Terms Details";
}

<h3>@ViewBag.Title</h3>
<br />

<fieldset>
    <legend>ShipmentTerms</legend>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.Standard)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.Standard)
        </div>
    </div>

    <div class="table-row">
        <div class="display-label table-cell">
             @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class="display-field table-cell">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
